<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.merchantapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="MerchantApp"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".My_Profile">
        </activity>
        <activity android:name=".Search_Area">
        </activity>
        <activity
                android:name=".Area"
                android:label="Store Address"
                android:theme="@style/Theme.AppCompat.DayNight.Dialog.Alert">
        </activity>
        <activity
                android:name=".ARea_Search"
                android:label="Store Address"
                android:theme="@style/Theme.AppCompat.DayNight.Dialog.Alert">
        </activity>
        <activity android:name=".Sign_Up">
        </activity>
        <activity
                android:name=".New_User"
                android:label="New User"
                android:theme="@style/Theme.AppCompat.DayNight.Dialog.Alert">
        </activity>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/map_key"/>

        <activity android:name=".Update_Adress">
        </activity>
        <activity
                android:name=".Confirm_Order"
                android:label="Confirm Order"
                android:theme="@style/Theme.AppCompat.DayNight.Dialog.Alert">
        </activity>
        <activity android:name=".login">
        </activity>
        <activity android:name=".splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PopUpWindow">
        </activity>
        <activity android:name=".Product">
        </activity>
        <activity android:name=".dashboardd">
        </activity>
        <activity android:name=".MainActivity">
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>